
      <div class="container-fluid" id="SumID{{2+2}}">

        <div class="row  justify-content-md-center">
          <div *ngFor="let element of elementsRoulette; let i = index" class="">
            <div class="roulette_container">
              <div class="roulette roulette-inner responsive-img" style="overflow: hidden; height: 128px;">
                <div class="roulette-inner" id="roulette{{i+1}}" style="position: relative; top: 0px; transform: translate(0px, 0px)">
                  <img src="assets/img/star.png" style="display: block;" />
                  <img src="assets/img/flower.png" style="display: block;" />
                  <img src="assets/img/coin.png" style="display: block;" />
                  <img src="assets/img/mshroom.png" style="display: block;" />
                  <img src="assets/img/chomp.png" style="display: block;" />
                  <img src="assets/img/star.png" style="display: block;" />
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>

      <div class="btn_container">
        <p>
          <button (click)="startNow()" class="btn btn-large btn-primary start"> START </button>
        </p>
      </div>
