<div  class="container">
  <div class="page-header">
  </div>
  <div class="row">
    <div class="span4">
      <div class="roulette_container">
        <div class="roulette roulette-inner" style="overflow: hidden; height: 128px;" >

          <div class="roulette-inner" id="testRR" style="position: relative; top: 0px; transform: translate(0px, -30px)">
            <img src="assets/img/star.png" style="display: block;" />
            <img src="assets/img/flower.png" style="display: block;" />
            <img src="assets/img/coin.png" style="display: block;" />
            <img src="assets/img/mshroom.png" style="display: block;" />
            <img src="assets/img/chomp.png" style="display: block;"/>
            <img src="assets/img/star.png" style="display: block;" />
          </div>
        </div>

      </div>
      <!-- <div class="roulette_container">
        <div class="roulette2" style="display:none;">
          <img src="assets/img/star.png" />
          <img src="assets/img/flower.png" />
          <img src="assets/img/coin.png" />
          <img src="assets/img/mshroom.png" />
          <img src="assets/img/chomp.png" /> </div>
      </div> -->
      <div class="btn_container">
        <p>
          <button (click)="startNow()" class="btn btn-large btn-primary start" [disabled]="!test.p.isStop"> START </button>
          <button class="stop btn-large btn btn-warning"> STOP </button>
        </p>
        {{test.p.isStop}}
      </div>
      <div class="log_container">
        <p class="demo_label">Log</p>
        <div id="msg"> </div>
      </div>
    </div>
    <div class="span4">
      <div class="right_container">
        <p class="demo_label">Paramater</p>
        <div class="speed_value param_label">
          <span class="param_name">speed :</span>
          <span class="speed_param"></span>
        </div>
        <div id="speed"> </div>
        <div class="duration_value param_label">
          <span class="param_name">duration(rough) :</span>
          <span class="duration_param"></span> sec </div>
        <div id="duration"> </div>
        <div class="stop_image_number_value param_label">
          <span class="param_name">stop image number :</span>
          <span class="stop_image_number_param"></span>
        </div>
        <input id="stopImageNumber" name="stopImageNumber" />
        <span class="image_sample">
          <img data-value="0" src="assets/img/star.png" />
          <img data-value="1" src="assets/img/flower.png" />
          <img data-value="2" src="assets/img/coin.png" />
          <img data-value="3" src="assets/img/mshroom.png" />
          <img data-value="4" src="assets/img/chomp.png" />
          <img data-value="-1" src="assets/img/random.png" title="random" /> </span>
      </div>

    </div>
  </div>
</div>